<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="/">
    <title>Jumbotron Template for Bootstrap</title>
    <!-- inject:css -->
    <link rel="stylesheet" href="/styles/bower.css">
    <!-- endinject -->
</head>

<body ng-app="rhapp" ng-controller="RootController">
    <div class="container">
        <!-- Static navbar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Bank Back Office</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/home">{{'HOME' | translate}}</a></li>
                        <li><a href="/about">{{'ABOUT' | translate}}</a></li>
                        <li><a href="/news">{{'NEWS' | translate}}</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>
        <div class="btn-group pull-ight" role="group" aria-label="...">
            <button type="button" class="btn btn-default" ng-repeat="locale in customLocales" ng-click="changeLocales(locale.id)">
                {{locale.name}}
            </button>
        </div>
        <!-- Main component for a primary marketing message or call to action -->
        <div class="jumbotron">
            <div ui-view></div>
        </div>
    </div>
    
    <mon-footer></mon-footer>

    <!-- /container -->
    <!-- inject:js -->
    <script src="/scripts/bower.js"></script>
    <!-- endinject -->
    <script src="./scripts/app.min.js"></script>
</body>

</html>
